body {
    background-color: cornsilk;
}

/* Navbar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #5F6368;
    
  }

  a:hover {
      text-decoration: underline;
  }
  
  .navbar-right {
      float: right;
  }

  .sign-in {
    background-color: #1e74ff;
    border: 1px;
    border-radius: 4px;
    color: #ffffff;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0px 16px;
    line-height: 27px;
    height: 36px;
  }

/* Central content (logo, search bar, buttons */

.central-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-bar-container {
    width: 400px;
    flex-grow: 2;
}

#search-bar {
    width: 100%;
    border: 1px solid #5F6368;
    border-radius: 24px;
    font-family: arial,sans-serif;
    font-size: 16px;
    margin: 11px 4px;
    line-height: 27px;
}

#google-search {
    background-color: #f2f2f2;
    border: 1px;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0px 16px;
    line-height: 27px;
    height: 36px;
}

#feeling-lucky {
    background-color: #f2f2f2;
    border: 1px;
    border-radius: 4px;
    color: #5F6368;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0px 16px;
    line-height: 27px;
    height: 36px;
}




/* Footer */

.footer {
    position: absolute;
    bottom: 0;
}

#footer-id {
    width: 100vw;
}